<!DOCTYPE html>
{% load static %}

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Brickbreaker</title>
    <link rel="shortcut icon" href="{% static 'games/brickbreaker/TemplateData/favicon.ico'%}"> 
    <link rel="stylesheet" href="{% static 'games/brickbreaker/TemplateData/style.css'%}">
    <script src="{% static 'games/brickbreaker/TemplateData/UnityProgress.js'%}"></script>
    <script src="{% static 'games/brickbreaker/Build/UnityLoader.js'%}"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "{% static 'games/brickbreaker/Build/Bbmain.json'%}", {onProgress: UnityProgress});
    </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

       

        function sendPost(score){

            console.log('Im being called by unity')
            var data = new URLSearchParams("score="+score)
            fetch("http://127.0.0.1:8000/brickbreaker/",{
                method: 'POST',
                credentials: 'same-origin',
                headers:{
                        // 'Accept': 'application/json',
                         'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                         'X-CSRFToken': csrftoken,
                        },
                body : data
            }
            
            ).then(response => {
                console.log(response)
                alert('POST successfull')
            
            })
            .catch(err => console.log(err))
        }
        
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="unityContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">Brickbreaker</div>
      </div>
    </div>
  </body>
</html>
