{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/cover.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ISTE Obscura Login</title>
    <link rel="icon" type="image/png" href="{% static '/images/logobng.png' %}">   
</head>

<body>

    <script src="https://kit.fontawesome.com/0a3d56d8b5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <div class="navbar">
        <nav class="transparent z-depth-0">
            <a style="padding-left: 1%;" href="{% url 'Cover' %}"><button class="waves-effect waves-light btn-large center deep-orange darken-4">Go back</button></a>
            <a class="brand-logo center">
                <img width="75" src="{% static '/images/logobng.png' %}">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://iste.nitk.ac.in/">About Us</a></li>
            </ul>

        </nav>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <h1 class="center">Obscura</h1>
            <h2 class="center">Login</h2>
            <form class="col s12" method="POST">
                {% csrf_token %}


                <div class="row">
                    <div class="input-field col s12">
                        <label for="username">Team Name</label>
                        <input type="text" required name="username" class="validate">
                    </div>
                </div>



                <div class="row">
                    <div class="input-field col s12">
                        <label for="pwd">Password</label>
                        <input type="password" required name="pwd">
                    </div>
                </div>
                <div class="center"><button type="submit" class="waves-effect waves-light btn-large center deep-orange darken-4">Login</button></div>
            </form>
            <div class="row">
                <br>
                <div class="col l4 offset-l4 center" style="padding-top: 3%;"><h6 class="grey-text">{{msg}}</h6></div>
            </div>
        </div>

        <footer>
            <div class="row center">

                <a href='https://www.facebook.com/istenitk/' target="_blank">
                    <i class="center fa fa-facebook-square fa-2x white-text"></i>
                </a>
                <a href='https://www.instagram.com/istenitk/' target="_blank">
                    <i class="center fa fa-instagram fa-2x white-text"></i>
                </a>
                <a href='https://www.youtube.com/c/istenitk' target="_blank">
                    <i class="center fa fa-youtube-play fa-2x white-text"></i>
                </a>
                <a href='https://www.linkedin.com/company/indian-society-for-technical-education-nitk-chapter/?originalSubdomain=in'
                    target="_blank">
                    <i class="center fa fa-linkedin fa-2x white-text"></i>
                </a>
            </div>
            <div class="center">
                Made with ❤️ by ISTE Crypt
            </div>
        </footer>

</body>

</html>