{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/cover.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <script src="https://kit.fontawesome.com/0a3d56d8b5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <div class="navbar">
        <nav class="transparent z-depth-0">
            <a style="padding-left: 1%;" href="{% url 'Home' %}"><button
                    class="waves-effect waves-light btn-large center deep-orange darken-4">Go back</button></a>
            <a class="brand-logo center">
                <img width="75" src="{% static '/images/logobng.png' %}">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://iste.nitk.ac.in/">About Us</a></li>
            </ul>

        </nav>
    </div>

    <div class="container">
        <h2 class="center">
            Question
        </h2><br>
        <div>
            <h5>{{question}}</h5>
        </div>
        {% if not answered %}
        <h6><ol>
            <li style="padding: 1vh;">{{op1}}</li>
            <li style="padding: 1vh;">{{op2}}</li>
            <li style="padding: 1vh;">{{op3}}</li>
            <li style="padding: 1vh;">{{op4}}</li>
        </ol></h6>
        <form class="col l2" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col l2 offset-l5">
                    <label for="answer">Answer</label>
                    <input type="number" required name="answer" class="validate">
                </div>
            </div>
            <div class="center"><button type="submit"
                    class="waves-effect waves-light btn-large center deep-orange darken-4">Submit</button></div>
        </form>
        <br>
        <h6 class="grey-text center">Enter the answer to the question in option numbers only(1, 2, 3, 4 are valid
            options) in the "Answer" field and submit.</h6>
        {% else %}
        <h6 class="grey-text center">{{msg}}</h6>
        <br><br>
        <div class="center"><a href="{% url 'Home' %}" class="center"><button
                    class="waves-effect waves-light btn-large center deep-orange darken-4">Go to Home</button></a></div>
        {% endif %}
    </div>
    <br><br>
    <footer>
        <div class="row center">

            <a href='https://www.facebook.com/istenitk/' target="_blank">
                <i class="center fa fa-facebook-square fa-2x white-text"></i>
            </a>
            <a href='https://www.instagram.com/istenitk/' target="_blank">
                <i class="center fa fa-instagram fa-2x white-text"></i>
            </a>
            <a href='https://www.youtube.com/c/istenitk' target="_blank">
                <i class="center fa fa-youtube-play fa-2x white-text"></i>
            </a>
            <a href='https://www.linkedin.com/company/indian-society-for-technical-education-nitk-chapter/?originalSubdomain=in'
                target="_blank">
                <i class="center fa fa-linkedin fa-2x white-text"></i>
            </a>
        </div>
        <div class="center">
            Made with ❤️ by ISTE Crypt
        </div>
    </footer>

</body>

</html>